# Prod
NEXT_PUBLIC_API_KEY="sk-xxx"
NEXT_PUBLIC_FETCH_API_URL=https://api.302.ai
NEXT_PUBLIC_UPLOAD_API_URL=https://dash-api.proxy302.com/gpt/api/upload/gpt/image

# Gitee AI 模力方舟
NEXT_PUBLIC_GITEE_AI_API_KEY="your-gitee-ai-api-key"
NEXT_PUBLIC_GITEE_AI_BASE_URL=https://ai.gitee.com
